<!-- Inputs calculator -->
<div class="row justify-content-center">

  <div class="col-md-5 col-sm-12 col-lg-5">
    <div class="form-group">
      <label for="localCurrency"></label>
      <input type="text" name="localCurrency" id="localCurrency" class="form-control align-center" placeholder="USD">
    </div>
  </div>

  <div class="col-md-5 col-sm-12 col-lg-5">
    <div class="form-group">
      <label for="externalCurrency"></label>
      <input type="text" name="externalCurrency" id="externalCurrency" class="form-control align-center"
        placeholder="EUR">
    </div>
  </div>

</div>

<!-- Calculate button -->
<div class="row justify-content-center top-10">
  <div class="col-md-4">
    <button type="button" class="btn btn-block btn-primary">Calculate</button>
  </div>
</div>