
$bodyBackground: rgba(0, 0, 0, 0.003);
$defaultForntFamily: 'Saira', sans-serif !important;

body {
  background: $bodyBackground;
  font-family: $defaultForntFamily;

}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
select:focus,
input[type="color"]:focus,
.form-control:focus,
.uneditable-input:focus {
  border: 2px solid #20458e !important;;
  box-shadow: none;
  outline: 0 none;
}

.align-center {
  text-align: center !important;
}

.main-content {
  height: 100%;
}

.top-20 {
  margin-top: 20px;
}

.top-10 {
  margin-top: 20px;
}

.bg-light {
  background: #fff !important;
}

.bg-primary-2 {
  // background-image: linear-gradient(to right top, #164a99, #20458e, #254084, #283c7a, #2a3770);
  background: rgba(8, 79, 172, 0.1);
}

.bg-primary-3 {
  background: rgba(21, 100, 183, 0.9);
}

.padding-20 {
  padding: 20px;
}

.without-radius {
  border-radius: 0 !important;
}

#particles-js canvas {
    display: block;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}